.button_example {
    margin: 2.5rem 0;
    color: #fff;
    border-radius: 3rem;
    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out, width 0.5s ease-in-out;
}

.button_example:hover {
    outline: none;
    box-shadow: 2px 2px 5px rgba(9, 12, 20, 0.795);
}


.blue {
    background-color: #2563eb;
}

.black {
    background-color: black;
    border-radius: 6px;
    margin-bottom: 0;
}


.large {
    padding: 2rem;
}

.medium {
    padding: 1rem;
}

.small {
    padding: 0.5rem;
}


.esquerda {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
}
