.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bolinha {
    border-radius: 100%;
    height: 0.8rem;
    width: 0.8rem;
}

.pequena {
    height: 0.5rem;
    width: 0.5rem;
}
