@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  --font-primary: "Plus Jakarta Sans", "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
}

div {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

* {
  font-family: var(--font-primary);
}


.page {
  padding-top: 16px;
  background-color: #f4f6f8;
  min-height: 100vh;
  overflow-x: hidden;
}

